body {
    background-image: url("tibiamoreprodutos.jpg");
	margin: 0;
	padding: 0;
}

.externa{
    width: auto;
}

.interna{
    margin: 0 auto;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 10px 10px;
}

.cards{
    margin: 5%;
    background-color:white;
    width: 23%;
    height: 60%;
    border-radius:10px;
    float: left;
}

.div-imagem img{
    width:100%;
    height:62%;
    border-radius: 5px 5px 0px 0px;
}

.div-descricao{
    width: 100%;
    height: 10%;
    background-color: #e1eeff;
}


#botaomais{
    font-size: 30px;
    background-color: #7dd87d;
    width: 50%;
    height: 10%;
    cursor: pointer;
}

#botaomais:hover{
    background-color: #b5edba;

}

#botaomenos{
    font-size: 30px;
    background-color: #df3554;
    width: 50%;
    height: 10%;
    cursor: pointer;
}

#botaomenos:hover{
    background-color: #e84a5f;
}

#confirmar:hover{
    background-color: #ececec;
}

#confirmar{
    margin-top: 2px;
    height: 10%;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #c2cfd8;
    cursor: pointer;
}


#logofinal{
    margin: 20px;
    width: 200px;
    height: 10%;
}

.saida{
    padding-top: 32px;
    display: flex;
    align-items: center;
    width:100%;
    justify-content: space-evenly;

}

.saida > button{
    border-radius: 10px;
    height: 40px;
    width: 15%;
    background-color: #c2cfd8;
    cursor: pointer;
}

#voltarmenu:hover{
    background-color: #ececec;
}

#ircarrinho:hover{
    background-color: #ececec;
}