body {
	margin: 0;
	padding: 0;
}

.externa{
    background-image: url("carrinho.jpg");
    background-size: cover;
    height:100%;
}

.interna{
    background-color: #f1b963;
    background-size:100%;
    border-radius: 10px 10px 10px 10px;
    height: 90%;
    width: 70%;
    margin: 0 auto;
    padding: 2%;
}

.divCarrinho img{
    width: 200px;
    height: 200px;
}

.header{
    padding-left: 64px;
    font-size: 50px;
    font-family: Arial;
}

#tabelaCarrinho{
    margin: 0 auto;
}

.tab{
    background-color: lightblue;
}

#tabelaCarrinho img{
    width: 90px;
    height: auto;
}

#tabelaCarrinho h2{
    font-size: 16px;
}

#divCarrinhoVazio h2{
    font-family: Arial;
    font-size: 20px;
    text-align: center;
}

#divCarrinhoVazio img{  
    width: 200px;
    height: auto;
}

#divCarrinhoVazio button{
    height: 50px;
    width: 100%;
    background-color: whitesmoke;
}

#divCarrinhoVazio button:hover{
    cursor: pointer;
    background-color: silver;
}

.carrinhovazio{
    margin: 0 auto;
    max-width: 200px;
    display: flex;
    flex-direction: column;
}

.botoes{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.botoes button{
    border-radius: 20px;
    width: 120px;
    height: 60px;
    margin: 40px;
    background-color: white;
}

#comprar:hover{
    cursor: pointer;
    background-color: #42b883;
}

#voltar:hover{
    cursor: pointer;
    background-color: red;
}