body {
	margin: 0;
	padding: 0;
}

.externa{
    background-image: url("carrinho.jpg");
    background-size: cover;
    height:100%;
}

.interna{
    background-color: white;
    background-size:100%;
    border-radius: 10px 10px 10px 10px;
    height: 90%;
    width: 70%;
    margin: 0 auto;
    padding: 2%;
}

.divCarrinho img{
    width: 200px;
    height: 200px;
}

.header{
    font-size: 50px;
}